<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
		<p class="text-center mainTitle">Movie Searcher</p>
	</div>

	<div class="col-sm-offset-1 col-sm-10">
		<p class="text-center titleDesc">Powered by TMDB API and AngularJS</p>
	</div>
</div>

<div class="row page-home-content">
	<input class="col-sm-offset-1 col-sm-10" type="text"
			ng-model="searchText" ng-change="searchMoviePlease(searchText,1)" ng-model-options="{debounce: 700}"
			placeholder="Search for a movie, tv show or a person..."/>
</div>

<div class="row page-home-content">
	<div class="col-sm-offset-2 col-sm-8 contentMargin" ng-repeat="movieItem in searchResult">

		<div class="row">
			<div class="col-sm-6">
				<b>{{movieItem.title}}</b>
			</div>
			<div class="col-sm-6">
				<p>Viewer Rating: {{movieItem.vote_average}} / 10</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<p>Release Date: {{movieItem.release_date}}</p>
			</div>
			<div class="col-sm-6">
		
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">
				<img src="{{movieItem.poster_path}}"/>

			</div>
			<div class="col-sm-6">
				<p>{{movieItem.overview}}</p>
			</div>
		</div>

	</div>

</div>